<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<#include "commonHome.htm" />
<title>Layout</title>
<head>
</head>
<style type="text/css">
	.firstPanel{

		width: 32%;
		height: 30%;
		float: left;
		margin-left: 10px;
	}

	.secondPanel{
		width: 32%;
		height: 40%;
		float: left;
		margin-left: 10px;
	}

	.secondPanelPerson{
		width: 65%;
		height: 40%;
		float: left;
		margin-left: 10px;
	}
	.compilePanel{
		width: 98%;
		height: 60%;
		float: left;
		margin-left: 10px;

	}
	.fourPanel{
		width: 49%;
		height: 60%;
		float: left;
		margin-left: 10px;
	}
	/* .highcharts-button {
    display: none;
    } */
	.panel-title{
		font-family: Microsoft YaHei;
	}
	.list-group-item{
		font-family: Microsoft YaHei;
		font-size:12px;

	}
</style>
<body onload="queryData()">
<div  style="width: 100%;height: 100%;">
	<div style="height:30%;">
		<div class="panel panel-success firstPanel">
			<div class="panel-heading">
				<h3 class="panel-title" >待办事项</h3>
			</div>
			<ul id="businessList" class="list-group" >

			</ul>
		</div>
		<div class="panel panel-success firstPanel">
			<div class="panel-heading">
				<h3 class="panel-title">通知公告</h3>
			</div>
			<ul id="noticeList" class="list-group">

			</ul>
		</div>
		<div class="panel panel-success firstPanel">
			<div class="panel-heading">
				<h3 class="panel-title">系统消息</h3>
			</div>
			<ul id="systemList" class="list-group">

			</ul>
		</div>
	</div>

	<div style="height:30%;">
		<div class="panel panel-success secondPanel" id="JRRS" style="display:none;">
			<div class="panel-heading">
				<h3 class="panel-title">今日人事概况</h3>
			</div>

			<div id="ToDayGk" style="height:100%;width:98%;float: left;"></div>

		</div>
		<div class="panel panel-success secondPanelPerson" id="PJGXZZ" style="display:none;">
			<!-- <div class="panel-heading">
                <h3 class="panel-title">在职按人员类别分析</h3>
            </div> -->
			<!-- <div id="chartContainerOnJob" style="height:100%;width:100%;"></div>
                 -->

			<div class="panel-heading">
				<div style="width: 50%">
					<div><h3 class="panel-title" >瓶颈工序在职走势（天）</h3></div>
				</div>
				<div style="float: right; margin-top: -20px;">
					<div><a style="color: #ffffff" href="javascript:void(0);" onclick="OnJobDetail()">详情>></a></div>
				</div>
			</div>

			<div id="OnJobEveryDay" style="height:100%;width:99%;"></div>

		</div>

	</div>
	<div style="height:30%;">
		<div class="panel panel-success secondPanel" id="LDHT" style="display:none;">
			<div class="panel-heading">
				<h3 class="panel-title">劳动合同预警</h3></div>
			<div id="charLaborContractWarning" style="height:100%;width:100%;">
			</div>

		</div>

		<div class="panel panel-success firstPanel" id="NLYJ" style="display:none;">
			<div class="panel-heading" >
				<div style="width: 50%">
					<div><h3 class="panel-title">年龄预警</h3></div>
				</div>
				<div style="float: right; margin-top: -20px;">
				</div>
			</div>
			<div id="charAgeWarning" style="height:100%;width:100%;">
			</div>
		</div>
	</div>
</div>
<!--  宿管预警模块 与 其他模块  -->
<div style="height:40%;">

	<div class="panel panel-success compilePanel" id="SGYJ" style="display:none;">
		<div class="panel-heading" >
			<div style="width: 50%">
				<div><h3 class="panel-title">宿管预警模块</h3></div>
			</div>

		</div>
		<div id="chartDormWarning" style="height:100%;width:100%;"></div>
	</div>

	<div style="height:40%;">

		<div class="panel panel-success compilePanel" id="FCWSB" style="display:none;">
			<div class="panel-heading" >
				<div style="width: 50%">
					<div><h3 class="panel-title">分厂未上报预警</h3></div>
				</div>
			</div>
			<div id="chartBranchNotReported" style="height:100%;width:100%;"></div>
		</div>

		<div style="height:40%;">

			<div class="panel panel-success compilePanel" id="BZYZZ" style="display:none;">
				<div class="panel-heading" >
					<div style="width: 50%">
						<div><h3 class="panel-title">编制与在职分析</h3></div>
					</div>
					<div style="float: right; margin-top: -20px;">
						<div><a  style="color: #ffffff" href="javascript:void(0);" onclick="OnCompileDetail()">详情>></a></div>
					</div>
				</div>
				<div id="chartContainerCompile" style="height:100%;width:100%;"></div>
				<!-- //劳动合同预警 -->

			</div>
		</div>
	</div>
</div>
<!-- <div style="height:40%">
<div class="panel panel-success fourPanel">
	<div class="panel-heading">
	<h3 class="panel-title">在职人员走势（月）</h3>
	</div>
	<ul class="list-group">

	</ul>
</div>
<div class="panel panel-success fourPanel">
	<div class="panel-heading">
		<h3 class="panel-title">人员流失数走势（月）</h3>
	</div>

		<ul class="list-group">

	</ul>
</div>
</div>  -->

</body>
<script type="text/javascript">
    nui.parse();
    $(function(){
        initDefList();
    });

    //初始化图表定义数据
    function initDefList(){
        g.ajax({
                url:"${basePath}/chartDefine/chartlist",
                data:{userId:"${user.UserId}"},
            backCall:function(text){
            if(text.success){
                for(var a=0;a<text.data.length;a++){
                    var charts = text.data[a];
                    switch (charts.exaJm){
                        case 'JRRS' :
                            document.getElementById("JRRS").style.display="block";
                            break;
                        case 'PJGXZZ' :
                            document.getElementById("PJGXZZ").style.display="block";
                            break;
                        case 'LDHT' :
                            document.getElementById("LDHT").style.display="block";
                            break;
                        case 'NLYJ' :
                            document.getElementById("NLYJ").style.display="block";
                            break;
                        case 'SGYJ' :
                            document.getElementById("SGYJ").style.display="block";
                            break;
                        case 'FCWSB' :
                            document.getElementById("FCWSB").style.display="block";
                            break;
                        case 'BZYZZ' :
                            document.getElementById("BZYZZ").style.display="block";
                            break;
                    }

                }
            }
        }
    });

    }
	/*加载panel数据*/
    function queryData(){
        queryBusiness();
        queryNoticeList();
        querySystemList();
        //buildOnJobChart();
        buildCompileChar();
        onJobEveryDayChart();
        toDayGk();
        //劳动合同预警
        laborContractList();
        //年龄预警
        ageList();
        //设置宿管预警查询数据
        queryDormWarning();
        queryBranchNotReported();

    }
    //待办事项  数据
    function queryBusiness(){
        var ul=$("#businessList");
        ul.children("li").remove();
        g.ajax({
            url:"${basePath}/approveExample/waitApproveList",
            data:{status:2},
            backCall:function(text){

                if(text.success){
                    var htmlStr="";
                    if(text.data.length==0){

                        htmlStr="<li class='list-group-item'>无待办</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        ul.append(htmlStr);

                    }else{
                        for(var a=0;a<5;a++){

                            if(text.data.length<=a){

                                htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                            }else{
                                year= text.data[a].submitDate.getFullYear();
                                month=(text.data[a].submitDate.getMonth() + 1).toString();
                                day= (text.data[a].submitDate.getDate()).toString();
                                if (month.length == 1) {
                                    month = "0" + month;
                                }
                                if (day.length == 1) {
                                    day = "0" + day;
                                }
                                var datetime= month +"/"+  day;

                                htmlStr+="<li class='list-group-item'><a href='javascript:void(0)' onclick='deal("+text.data[a].recId+")'><span style='width:70%;'>"+text.data[a].businessName+"</span></a><div style='display:inline; float:right;'><span style='width:10%;text-align:center'>"+text.data[a].submitterName+"</span>&nbsp;&nbsp;<span style='width:10%;text-align:center'>"+datetime+"</span></div></li>";
                            }
                        }

                        ul.append(htmlStr);
                    }}}
        });

    }


    //通知公告  数据
    function queryNoticeList(){
        var ul=$("#noticeList");
        ul.children("li").remove();
        g.ajax({
            url:"${basePath}/messageAnnouncement/getMessageAnnouncement",
            data:{status:1,mType:1},
            backCall:function(text){
                if(text.success){
                    var htmlStr="";
                    if(text.data.length==0){
                        htmlStr="<li class='list-group-item'>无通知</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        ul.append(htmlStr);

                    }else{
                        for(var a=0;a<5;a++){

                            if(text.data.length<=a){

                                htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                            }else{
                                year= text.data[a].createDate.getFullYear();
                                month=(text.data[a].createDate.getMonth() + 1).toString();
                                day= (text.data[a].createDate.getDate()).toString();
                                if (month.length == 1) {
                                    month = "0" + month;
                                }
                                if (day.length == 1) {
                                    day = "0" + day;
                                }
                                var datetime= month +"/"+  day;

                                htmlStr+="<li class='list-group-item'><a href='javascript:void(0)' onclick='msgDeal("+text.data[a].msgId+","+1+")'><span style='width:70%;'>"+text.data[a].title+"</span></a><div style='display:inline; float:right;'><span style='width:10%;text-align:center'>"+text.data[a].createBy+"</span>&nbsp;&nbsp;<span style='width:10%;text-align:center'>"+datetime+"</span></div></li>";
                            }
                        }
                        ul.append(htmlStr);
                    }}}
        });
    }

    function querySystemList(){
        var ul=$("#systemList");
        ul.children("li").remove();
        g.ajax({
            url:"${basePath}/messageAnnouncement/getMessageAnnouncement",
            data:{status:1,mType:2},
            backCall:function(text){
                if(text.success){

                    var htmlStr="";
                    if(text.data.length==0){
                        htmlStr="<li class='list-group-item'>无消息</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                        ul.append(htmlStr);

                    }else{
                        for(var a=0;a<5;a++){

                            if(text.data.length<=a){

                                htmlStr+="<li class='list-group-item'>&nbsp;</li>";
                            }else{
                                year= text.data[a].createDate.getFullYear();
                                month=(text.data[a].createDate.getMonth() + 1).toString();
                                day= (text.data[a].createDate.getDate()).toString();
                                if (month.length == 1) {
                                    month = "0" + month;
                                }
                                if (day.length == 1) {
                                    day = "0" + day;
                                }
                                var datetime= month +"/"+  day;

                                htmlStr+="<li class='list-group-item'><a href='javascript:void(0)' onclick='msgDeal("+text.data[a].msgId+","+2+")'><span style='width:70%;'>"+text.data[a].title+"</span></a><div style='display:inline; float:right;'><span style='width:10%;text-align:center'>"+text.data[a].createBy+"</span>&nbsp;&nbsp;<span style='width:10%;text-align:center'>"+datetime+"</span></div></li>";
                            }
                        }
                        ul.append(htmlStr);
                    }}}
        });
    }
    function msgDeal(msgId,title){

        g.openTabWithBackCall({
            title:title==1?"通知公告":"系统消息",
            url: "/page?view=system/message/announcement_show&msgId="+msgId,
        });
    }

    //待办事项点击事件
    function deal(param){

        var recId= nui.clone(param);
        var busData={};
        var busDataListView=[{title: "奖惩提报" ,exaJm: "JCTB",url:"/page?view=hr/business/approve_view_award"},
            {title: "月考勤汇总" ,exaJm: "KQHZ",url:"/page?view=hr/business/approve_view_checkMonthSum"},
            {title: "未打卡事由",exaJm: "WDKT",url:"/page?view=hr/business/approve_view_day"},
            {title: "培训总结" ,exaJm:"PXZJ",url:"/page?view=hr/business/approve_view_trainSumma"},
            {title: "月度培训计划" ,exaJm:"YDPX",url:"/page?view=hr/business/approve_view_trainPlanMonth"},
            {title: "年度培训计划",exaJm: "NDPX",url:"/page?view=hr/business/approve_view_trainPlanYear"},
            {title: "明星员工",exaJm: "MXYG",url:"/page?view=hr/business/approve_view_payStarEmp"},
            {title: "新员工",exaJm: "XGTB",url:"/page?view=hr/business/approve_view_recruit"},
            {title: "销售公司绩效提报(月)",exaJm: "XSJX",url:"/page?view=hr/business/approve_view_salesPerformence"},
            {title: "人员自离",exaJm: "RYZL",url:"/page?view=hr/business/approve_view_dimission"},
            {title: "员工住宿(普通)",exaJm: "PUZS",url:"/page?view=hr/business/approve_view_dormAllocation"},
            {title: "员工住宿(经理级)",exaJm: "JLZS",url:"/page?view=hr/business/approve_view_dormAllocation"},
            {title: "销售公司新员工",exaJm: "ZPGSXYGTB",url:"/page?view=hr/business/approve_view_recruit_xs"},
            {title: "上岗证办理提报",exaJm:"SGZBLTB",url:"/page?view=hr/business/approve_view_train"}
        ];

        g.ajax({
            url:"${basePath}/approveExample/waitApproveList",
            backCall:function(text){
                if(text.success)
                    var row;
                for(var a=0;a<text.data.length;a++){
                    if(text.data[a].recId==recId)
                        row=text.data[a];

                }

                if(row!=null&&row!=''){

                    for(var i=0;i<busDataListView.length;i++){
                        if(row.exaJm==busDataListView[i].exaJm){

                            busData=busDataListView[i];

                            g.openTabWithBackCall({
                                url:busData.url,
                                title:busData.title+"-审核页面",
                                data:{row:row,type:"deal"},
                                CloseTabBackCall:function(param){
                                    queryBusiness();
                                }
                            });
                        }
                    }
                }
            }});

    }
    //分厂未上报数据查询
    function queryBranchNotReported(){

        g.ajax({
                url:"${basePath}/indexController/queryBranchNotDay",
                data:{userId:"${user.UserId}"},
            async:true,
            backCall:function(text){
            if(text.success){
                var branchInfo = new Array();
                var dayInfo = new Array();
                dayInfo = text.data[0];
                branchInfo = text.data[1];
                var chart = new Highcharts.Chart('chartBranchNotReported', {
                    chart: {
                        type: 'line',
                        height:340,
                        marginRight: 130,
                        marginBottom: 25
                    },
                    title:{
                        text:'',
                    },
                    scrollbar : {
                        enabled:true
                    },
                    tooltip: {
                        valueSuffix: '人'
                    },
                    xAxis: {
                        categories:dayInfo,
                        labels: {
                            enabled: false
                        }
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: 100,
                        borderWidth: 0
                    },
                    series:branchInfo
                });
            }
        }
    });
    }

    //宿管预警数据查询
    function queryDormWarning(){

        g.ajax({
                url:"<%=baseUrl%>/indexController/queryDormWarningReport",
                data:{userId:"${user.UserId}"},
            async:true,
            backCall:function(text){
            if(text.success){
                var dormInfo = new Array();
                var dormAll = new Array();
                var dormIdler = new Array();
                var dormLtQuit = new Array();
                var dormGeQuit = new Array();
                for(var i = 0;i<text.data.length;i++){
                    dormInfo[i] = text.data[i].dormOrg;
                    dormAll[i] = text.data[i].allCounter;
                    dormIdler[i] = text.data[i].idlersCounter;
                    dormLtQuit[i] = text.data[i].ltQuitCounter;
                    dormGeQuit[i] = text.data[i].geQuitCounter;
                }
                Highcharts.chart('chartDormWarning', {

                    chart: {
                        type: 'column',
                        height:340
                    },

                    title: {
                        text: ''
                    },

                    xAxis: {
                        categories:dormInfo
                    },

                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },

                    tooltip: {

                    },

                    plotOptions: {
                        column: {
                            stacking: 'normal'
                        }
                    },
                    series: [{
                        name: '当前在住人数',
                        data: dormAll,
                        stack: 'allCounter'
                    },{
                        name:'非公司人数',
                        stack:"dormIdler",
                        data:dormIdler
                    },{
                        name:'离职大于三天',
                        stack:"dormLt",
                        data:dormLtQuit
                    },{
                        name:'离职<=三天',
                        stack:"dormGe",
                        data:dormGeQuit
                    }]
                });
            }
        }
    });
    }

    //编制与在职分析
    function buildCompileChar(){
        g.ajax({
            url:"${basePath}/indexController/queryCompileReport",
            async:true,
            backCall:function(text){
                if(text.success){
                    var orgList=new Array();
                    var compileNumList=new Array();
                    var scNumList=new Array();
                    var xgNumList=new Array();
                    for(var a=0;a<text.data.length;a++){

                        orgList[a]=text.data[a].org;
                        compileNumList[a]=text.data[a].compileNum;
                        scNumList[a]=text.data[a].scNum;
                        xgNumList[a]=text.data[a].xgNum;
                    }
                    Highcharts.chart('chartContainerCompile', {

                        chart: {
                            type: 'column',
                            height:340
                        },

                        title: {
                            text: ''
                        },

                        xAxis: {
                            categories:orgList
                        },

                        yAxis: {
                            allowDecimals: false,
                            min: 0,
                            title: {
                                text: ''
                            }
                        },

                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.x + '</b><br/>' +
                                    this.series.name + ': ' + this.y + '<br/>' +
                                    '合计: ' + this.point.stackTotal;
                            }
                        },

                        plotOptions: {
                            column: {
                                stacking: 'normal'
                            }
                        },

                        series: [{
                            name: '编制',
                            data: compileNumList,
                            stack: 'male'
                        }, {
                            name: '行管',
                            data:xgNumList,
                            stack: 'female'

                        }, {
                            name: '生产',
                            data:scNumList,
                            stack: 'female'
                        }]
                    }); }
            }   });
    }
    //劳动合同到期情况分析
    function laborContractList(){
        g.ajax({
            url:"${basePath}/indexController/laborContractReport",
            async:true,
            backCall:function(text){
                if(text.success){
                    var oneMonthNum=new Array();	//距离到期有一个月
                    var twoMonthNum=new Array();	//距离到期有两个月
                    var expiredNum=new Array();		//已过期
                    for(var a=0;a<text.data.length;a++){
                        oneMonthNum[a]=text.data[a].oneMonthNum;
                        twoMonthNum[a]=text.data[a].twoMonthNum;
                        expiredNum[a]=text.data[a].expiredNum;
                    }
                    Highcharts.chart('charLaborContractWarning', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            height:270
                        },
                        title: {
                            text: ''
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '人数',
                            data: [
                                ['合同已过期',expiredNum[0]],
                                ['合同一个月后过期',oneMonthNum[0]],
                                ['合同两个月后过期',twoMonthNum[0]]
                            ]
                        }]

                    });
                }
            }
        });
    }
    //年龄预警
    function ageList(){
        g.ajax({
            url:"${basePath}/indexController/ageReport",
            async:true,
            backCall:function(text){
                if(text.success){
                    var productionWomenNum=new Array();	//女生产人员年龄大于50岁总人数
                    var productionMenNum=new Array();	//男生产人员年龄大于60岁总人数
                    var handlingWomenNum=new Array();	//女行管人员年龄大于50岁总人数
                    var handlingMenNum=new Array();		//男行管人员年龄大于60岁总人数
                    for(var a=0;a<text.data.length;a++){
                        productionWomenNum[a]=text.data[a].productionWomenNum;
                        productionMenNum[a]=text.data[a].productionMenNum;
                        handlingWomenNum[a]=text.data[a].handlingWomenNum;
                        handlingMenNum[a]=text.data[a].handlingMenNum;
                    }
                    Highcharts.chart('charAgeWarning', {

                        chart: {
                            type: 'bar',
                            height:270
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: ['生产', '行管'],
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: '',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true,
                                    allowOverlap: true
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            pointWidth: 26,
                            pointPadding:0,
                            name: '女年龄≥50',
                            data: [productionWomenNum, handlingWomenNum]
                        }, {
                            pointWidth: 26,
                            name: '男年龄≥60',
                            data: [productionMenNum, handlingMenNum]
                        }]

                    });
                }
            }
        });
    }
    //瓶颈工序在职走势（天）
    function onJobEveryDayChart(){

        g.ajax({
            url:"${basePath}/indexController/onJobEveryDayPostDate",
            async:true,
            backCall:function(text){
                if(text.success){
                    var postDate=new Array();
                    postDate=text.data;

                    g.ajax({
                        url:"${basePath}/indexController/onJobEveryDay",
                        async:true,
                        backCall:function(data){
                            if(data.success){
                                pSumCount=new Array();

                                for(var a=0;a<data.data.length;a++){
                                    pSumCount[a]=data.data[a];

                                }

                                var chart = new Highcharts.Chart({
                                    chart: {
                                        renderTo: 'OnJobEveryDay',
                                        type: 'line',
                                        marginRight: 130,
                                        marginBottom: 25,
                                        height:270
                                    },

                                    title: {
                                        text: '',
                                        x: -20 //center
                                    },
                                    subtitle: {
                                        text: '',
                                        x: -20
                                    },
                                    xAxis: {
                                        categories:postDate
                                    },
                                    yAxis: {
                                        title: {
                                            text: ''
                                        },
                                        plotLines: [{
                                            value: 0,
                                            width: 1,
                                            color: '#808080'
                                        }]
                                    },
                                    tooltip: {
                                        formatter: function() {
                                            return '<b>'+ this.series.name +'</b><br/>'+
                                                this.x +': '+ this.y +'人';
                                        }
                                    },
                                    legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'top',
                                        x: -10,
                                        y: 100,
                                        borderWidth: 0
                                    },
                                    series:pSumCount

                                });
                            }} });

                }}});
    }


    //今日人事概况
    function toDayGk(){

        g.ajax({
            url:"${basePath}/indexController/toDayGk",
            async:true,
            backCall:function(text){
                if(text.success){
                    var dataList=new Array();

                    for(var a=0;a<text.data.length;a++){
                        dataList[a]=text.data[a];

                    }

                    Highcharts.chart('ToDayGk', {
                        chart: {
                            type: 'bar',
                            height:270
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                            categories: ['应聘登记人数', '文员提报人数', '建档人数', '离职人数']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        legend: {
                            reversed: true
                        },
                        plotOptions: {
                            series: {
                                stacking: 'normal'
                            }
                        },
                        series:dataList
                    });
                }



            }});
    }

    function OnJobDetail(){
        g.openTabWithBackCall({
            title:"瓶颈工序在职表",
            url:"/page?view=hr/report/queryBottleneckReport_bb",
        });




    }

    function OnCompileDetail(){
        g.openTabWithBackCall({
            title:"部门组织机构图",
            url:"/page?view=hr/org/zx_org_manage",
        });



    }

//	function buildOnJobChart(){
//            var onJobData= new Array();
//            g.ajax({
//                url:"<%=baseUrl%>/indexController/queryOnJobReport.do",
//                backCall:function(text){
//                    if(text.success)
//
//                        for(var a=0;a<text.data.length;a++){
//                            onJobData[a]= new Array();
//
//                            onJobData[a][0]=text.data[a].name;
//                            onJobData[a][1]=text.data[a].num;
//                        }
//                    var chart = new Highcharts.Chart({
//                        chart: {
//                            renderTo: 'chartContainerOnJob',
//                            plotBackgroundColor: null,
//                            plotBorderWidth: null,
//                            plotShadow: false,
//
//                        },
//                        title: {
//                            text: ''
//                        },
//                        tooltip: {
//                            pointFormat: '{series.name}: <b>{point.percentage}%</b>',
//                            percentageDecimals: 1
//                        },
//                        plotOptions: {
//                            pie: {
//                                allowPointSelect: true,
//                                cursor: 'pointer',
//                                dataLabels: {
//                                    enabled: true,
//                                    color: '#000000',
//                                    connectorColor: '#000000',
//                                    formatter: function() {
//                                        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
//                                    }
//                                }
//                            }
//                        },
//
//
//                        series: [{
//                            type: 'pie',
//                            name: '所占比例',
//                            data:onJobData
//                        }]
//                    });
//                }
//            });
//
//        }


</script>
</html>