<?xml version="1.0" encoding="utf-8"?>
<configuration status="DEBUG">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </Console>

        <RollingFile name="RollingFileInfo" fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

    </appenders>
    <loggers>
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="org.hibernate.engine" level="INFO"></logger>
        <root level="INFO">
            <appenderref ref="Console"/>
            <appenderref ref="RollingFileInfo"/>
        </root>
    </loggers>

</configuration>